.place__title {
  grid-area: title;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 auto;
    width: 90%;
  }
}
