.intro__quote_author {
  text-align: right;
  margin-bottom: 32px;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .intro__quote {
    line-height: 1.42;
    margin-bottom: 18px;
  }
}
