.cover {
  background-image: url(../../images/cover__background.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 48px 0;
  height: 740px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .cover {
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .cover {
    margin: 0;
    height: auto;
  }
}
